<div class="outer">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 col-lg-5 col-md-6 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                     <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold">Sign Up</h3>
                     </div>
                     <div class="panel-body p-2">
                        <form [formGroup]="SignupForm">
                            <div class="form-group pt-3">
                                <div class="input-field"  [class.error]="SignupForm.controls['firstname'].dirty && SignupForm.hasError('required','firstname')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="firstname" type="text" placeholder="FirstName">
                                </div>
                            </div>
                            <small *ngIf="SignupForm.controls['firstname'].dirty && SignupForm.hasError('required','firstname')" class="text-danger"> *Firstname is required </small>
                            <div class="form-group pt-3" >
                                <div class="input-field"  [class.error]="SignupForm.controls['lastname'].dirty && SignupForm.hasError('required','lastname')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="lastname" type="text" placeholder="LastName">
                                </div>
                            </div>
                            <small *ngIf="SignupForm.controls['lastname'].dirty && SignupForm.hasError('required','lastname')" class="text-danger"> *lastname is required </small>
                            <div class="form-group pt-3">
                                <div class="input-field"  [class.error]="SignupForm.controls['email'].dirty && SignupForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input  formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="SignupForm.controls['email'].dirty && SignupForm.hasError('required','email')" class="text-danger"> *email is required </small>
                            <div class="form-group pt-3">
                                <div class="input-field"  [class.error]="SignupForm.controls['username'].dirty && SignupForm.hasError('required','username')">
                                    <span class="fa fa-user p-2"></span>
                                    <input  formControlName="username" type="text" placeholder="username">
                                </div>
                            </div>
                            <small *ngIf="SignupForm.controls['username'].dirty && SignupForm.hasError('required','username')" class="text-danger"> *username is required </small>
                            <div class="form-group pt-3">
                                <div class="input-field"  [class.error]="SignupForm.controls['password'].dirty && SignupForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input  formControlName="password" [type]="type" placeholder="Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIcon}}"></span>
                                </div>
                            </div>
                            <small *ngIf="SignupForm.controls['password'].dirty && SignupForm.hasError('required','password')" class="text-danger"> *password is required </small>
                            <button (click)="onSignUp()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Sign Up</button>
                            <div class="text-center pt-4 text-muted">Already have Account? <a href="" routerLink="/login" id="forget">login</a></div>
                        </form>
                     </div>
                     <!-- <div class="mx-3 my-2 py-2 bordert">
                        <div class="text-center py-3">
                            <a href="https://www.facebook.com" target="_blank" class="px-2"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/2048px-Facebook_icon.svg.png" alt=""></a>
                            <a href="https://www.google.com" target="_blank" class="px-2"><img src="https://blog.hubspot.com/hubfs/image8-2.jpg" alt=""></a>
                            <a href="https://www.github.com" target="_blank" class="px-2"><img src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png"></a>
                        </div>
                     </div> -->
                </div>
            </div>
        </div>
    </div>
</div>



